/**************************************************************/
/* 基本設定のcssファイル */
/**************************************************************/

body {
	-webkit-text-size-adjust:			100%;
	-webkit-touch-callout:				none;

	background:							#424242;

	margin:								0px 0px 0px 0px;
	padding:							0px 0px 0px 0px;

	color:								#fefefe;
	font-size:							12px;
	font-family:						"HiraKakuProN-W3";
}

a {
	color:								#ff8808;
}

h1{
	margin:								0px 0px 0px 0px;
	padding:							0px 0px 0px 0px;

	font-size:							16px;

/*	border:								1px solid #f00;*/
}

h2{
	margin:								0px 0px 0px 0px;
	padding:							0px 0px 2px 0px;

	font-size:							14px;

/*	border:								1px solid #f00;*/
}

/**************************************************************/
/** バナー領域 **/

.infoBannerArea{
	margin:								4px 2px 4px 2px;
	padding:							0px 0px 0px 0px;

	text-align:							center;
}

/**************************************************************/
/** お知らせ本文 **/

.infoTitle{
	background:							#ffffff;

	margin:								4px 4px 4px 4px;
	padding:							8px 8px 8px 8px;

	color:								#000000;
}

.infoBody{
	background:							#ffffff;

/*	margin:								4px 2px 16px 4px;*/
	margin:								4px 4px 4px 4px;
	padding:							4px 4px 16px 4px;

	color:								#000000;
}

.infoBody .left{
	margin:								4px 4px 4px 4px;
	padding								0px 0px 0px 0px;

	text-align:							left;

/*	border:								1px solid #f00;*/
}

.infoBody .center{
	margin:								4px 4px 4px 4px;
	padding								0px 0px 0px 0px;

	text-align:							center;

/*	border:								1px solid #f00;*/
}

.infoBody .right{
	margin:								4px 4px 4px 4px;
	padding:							0px 0px 0px 0px;

	text-align:							right;

/*	border:								1px solid #f00;*/
}

.infoBody .linklist{
	margin:								4px 4px 4px 4px;
	padding								0px 0px 0px 0px;

/*	border:								1px solid #f00000;*/
}

.infoBody .listStrong{
	background-image: linear-gradient(	-45deg,
										#444444 25%,
										#333333 25%, #333333 50%,
										#444444 50%, #444444 75%,
										#333333 75%, #333333 );
	background-size:					4px 4px;

	margin:								4px 4px 4px 4px;
	padding:							8px 8px 8px 8px;

	color:								#ffffff;

/*	border:								1px solid #f00;*/
}

.infoBody .listStrong h2{
	color:								#ff8808;
}

.infoBody .listNote{
	background-image: linear-gradient(	-45deg,
										#cccccc 25%,
										#dddddd 25%, #dddddd 50%,
										#cccccc 50%, #cccccc 75%,
										#dddddd 75%, #dddddd );
	background-size:					4px 4px;

	margin:								4px 4px 4px 4px;
	padding:							8px 8px 8px 8px;

	color:								#000000;

/*	border:								1px solid #f00;*/
}

.infoBody .listNote h1{
	margin:								0px 0px 0px 0px;
	padding:							0px 0px 0px 0px;

	font-size:							14px;

/*	border:								1px solid #f00;*/
}

.infoBody .listNote h2{
	margin:								0px 0px 0px 0px;
	padding:							0px 0px 0px 0px;

	font-size:							13px;

/*	border:								1px solid #f00;*/
}

.infoBody .listNote ul{
	margin:								0px 0px 0px 24px;
	padding:							0px 0px 0px 0px;

/*	border:								1px solid #f00;*/
}



.infoBody .imageArea{
	margin:								4px 4px 4px 4px;
	padding								0px 0px 0px 0px;

	text-align:							center;

/*	border:								1px solid #f00;*/
}

.infoBody .iconText{
	_height:							60px;
	min-height:							60px;
}

/**************************************************************/
/* 期間表示(右寄せ固定) */

.right .term{
	display:							inline-block;

	background-image: linear-gradient(	-45deg,
										#444444 25%,
										#333333 25%, #333333 50%,
										#444444 50%, #444444 75%,
										#333333 75%, #333333 );
	background-size:					4px 4px;

	margin:								0px 0px 0px 0px;
	padding:							8px 8px 8px 8px;

	color:								#ffffff;
}

/**************************************************************/
/* リンクボタン(標準) */

.button-wrap {
	position:							relative;

	display:							inline-block;

	padding:							8px 8px 8px 8px;
}

.button-wrap a{
	position:							absolute;

	top:								0;
	left:								0;

	display:							block;

	width:								100%;
	height:								100%;
}

.button-wrap img{
	background-color:					#FF8808;

	width:								200px;
	height:								48px;

	color:								#ffffff;
	text-align:							left;
}

.button-wrap .button-content {
	/* ボタン本体 */
	-webkit-appearance:					none;
	text-decoration:					none;

	box-shadow:							1px 1px 1px 0px #222222,0px 0px 0px 4px #ffffff,0px 0px 1px 5px #048;
	-moz-box-shadow:					1px 1px 1px 0px #222222,0px 0px 0px 4px #ffffff,0px 0px 1px 5px #048;
	-webkit-box-shadow:					1px 1px 1px 0px #222222,0px 0px 0px 4px #ffffff,0px 0px 1px 5px #048;

	display:							inline-block;

	width:								256px;

	padding:							0px 0px 0px 0px;
	margin:								0px 0px 0px 0px;

	border:								4px solid #222222;

	color:								#fefefe;
	text-align:							left;
	font-weight:						bold;
	font-size:							12px;
	font-family:						"HiraKakuProN-W3";
}

.button-wrap .normal{
	/* 背景色(標準) */
	background-color:					#444444;
}

.button-wrap .attention {
	/* 背景色(強調) */
	background-color:					#FF8808;
}

.button-wrap .stripe {
	/* 背景色(斜め縞) */
	background-image: linear-gradient(	-45deg,
										#444444 25%,
										#333333 25%, #333333 50%,
										#444444 50%, #444444 75%,
										#333333 75%, #333333 );
	background-size:					4px 4px;
}

.button-wrap .stripe-attention {
	/* 背景色(斜め縞強調) */
	background-image: linear-gradient(	-45deg,
										#FF8808 25%,
										#ffa94c 25%, #ffa94c 50%,
										#FF8808 50%, #FF8808 75%,
										#ffa94c 75%, #ffa94c );
	background-size:					4px 4px;
}

.button-wrap .text{
	/* 文字 */
	display:							inline-block;
	text-align:							left;
	padding:							4px 16px 4px 16px;
	margin:								0px;
}

/**************************************************************/
/* テキストとボタンのセット */

.subbutton-wrap {
	position:							relative;

/*	border:								1px solid #f00;*/
}

.subbutton-wrap .textarea{
	display:							inline-block;

	width:								160px;
	min-height:							50px;
	height:								auto;

	text-align:							left;

/*	border:								1px solid #00f;*/
}

.subbutton-wrap .button-wrap{
	position:							absolute;

	right:								0;
	bottom:								0;

	float:								right;

	padding:							8px;
}

.subbutton-wrap .button-wrap a{
	position:							absolute;

	top:								0;
	left:								0;

	display:							block;

	width:								100%;
	height:								100%;
}

.subbutton-wrap .button-wrap .button-content {
	/* ボタン本体 */
	-webkit-appearance:					none;
	text-decoration:					none;

	box-shadow:							2px 2px 2px 0px #cccccc,0px 0px 0px 4px #ffffff,0px 0px 1px 5px #08F;
	-moz-box-shadow:					2px 2px 2px 0px #cccccc,0px 0px 0px 4px #ffffff,0px 0px 1px 5px #08F;
	-webkit-box-shadow:					2px 2px 2px 0px #cccccc,0px 0px 0px 4px #ffffff,0px 0px 1px 5px #08F;

	display:							inline-block;

	width:								auto;

	padding:							0px 0px 0px 0px;
	margin:								0px 0px 0px 0px;

	border:								4px solid #222;

	color:								#fefefe;
	font-weight:						bold;
	font-size:							12px;
	font-family:						"HiraKakuProN-W3";
}

.subbutton-wrap .button-wrap .normal{
	/* 背景色(標準) */
	background-color:					#444444;
}

.subbutton-wrap .button-wrap .attention {
	/* 背景色(強調) */
	background-color:					#FF8808;
}

.subbutton-wrap .button-wrap .text{
	/* 文字 */
	padding:							4px 16px 4px 16px;
	margin:								0px;
}


/**************************************************************/
/* ページトップのリロードボタン */
.reload-wrapper{
	position: relative;
}

.reload-layer{
	position:							absolute;
	top:								0px;
	right:								0px;
	left:								0px;
	width:								100%;
	color:								#888888;
	text-align:							right;
	float:								right;
}

.reloadbutton-wrap{
	font-size:							6px;
	color:								#eeeeee;
	font-family:						"HiraKakuProN-W3";

	float:								right;
	padding:							2px;
	background-color:					#eeeeee;
}
.reloadbutton-wrap a{
	color:								#cccccc;
	text-decoration: none;
}

/**************************************************************/
/* 表 */

/* レア度用 */
table.list_rarity{
	font-size:							12px;
	color:								#eeeeee;
	font-family:						"HiraKakuProN-W3";
	border-spacing:						0;
	border-collapse:					separate;
	border-radius:						6px;
	border:								2px solid #e6b422;
	width:								90%;

	margin-right:						auto;
	margin-left:						auto
}

table.list_rarity thead th{
	padding:							4px 4px;
	background:							#281a14;
	text-align:							center;
}

table.list_rarity tbody td{
	padding:							4px 4px;
	background:							#2f2f2f;
}

table.list_rarity tbody td span{
	color:								#2f2f2f;
}

table.list_rarity tr:nth-child(even) td{
/*	background:							#555555;*/
}

table.list_rarity thead tr:first-child :first-child{
	border-top-left-radius:				4px;
}

table.list_rarity thead tr:first-child :last-child{
	border-top-right-radius:			4px;
}

table.list_rarity tbody tr:last-child :first-child{
	border-bottom-left-radius:			4px;
}

table.list_rarity tbody tr:last-child :last-child{
	border-bottom-right-radius:			4px;
}

table.list_rarity tbody tr:last-child :first-child img{
	border-bottom-left-radius:			0px;
	border-bottom-right-radius:			0px;
}

table.list_rarity tbody tr:last-child :last-child img{
	border-bottom-left-radius:			0px;
	border-bottom-right-radius:			0px;
}

table.list_rarity thead tr th:not(:first-child){
	border-left:						1px solid #e6b422;
}

table.list_rarity tbody tr td:not(:first-child){
	text-align:							center;
	border-left:						1px solid #e6b422;
}

table.list_rarity tbody tr td:first-child{
	text-align:							center;
}

table.list_rarity thead tr th,
table.list_rarity tbody tr:not(:last-child) td{
	border-bottom:						1px solid #e6b422;
}

/* 注意事項用 */
table.list_note{
	font-size:							12px;
	color:								#333333;
	font-family:						"HiraKakuProN-W3";
	border-spacing:						0;
	border-collapse:					separate;
	border-radius:						6px;
	border:								2px solid #aaaaaa;
	width:								90%;

	margin-right:						auto;
	margin-left:						auto
}

table.list_note thead th{
	padding:							4px 4px;
	background:							#dddddd;
	text-align:							center;
}

table.list_note tbody td{
	padding:							4px 4px;
	background:							#FCFCFC;
	text-align:							center;
}

table.list_note tbody td span{
	color:								#FCFCFC;
}

table.list_note tr:nth-child(even) td,
table.list_note tr:nth-child(even) th{
	background:							#EEEEEE;
}

table.list_note tr:nth-child(even) td span,
table.list_note tr:nth-child(even) th span{
	color:								#EEEEEE;
}

table.list_note thead tr:first-child :first-child{
	border-top-left-radius:				4px;
}

table.list_note thead tr:first-child :last-child{
	border-top-right-radius:			4px;
}

table.list_note tbody tr:last-child :first-child{
	border-bottom-left-radius:			4px;
}

table.list_note tbody tr:last-child :last-child{
	border-bottom-right-radius:			4px;
}

table.list_note tbody tr:last-child :first-child img{
	border-bottom-left-radius:			0px;
	border-bottom-right-radius:			0px;
}

table.list_note tbody tr:last-child :last-child img{
	border-bottom-left-radius:			0px;
	border-bottom-right-radius:			0px;
}

table.list_note thead tr th:not(:first-child),
table.list_note tbody tr td:not(:first-child){
	border-left:						1px solid #aaaaaa;
}

table.list_note thead tr th,
table.list_note tbody tr:not(:last-child) td{
	border-bottom:						1px solid #aaaaaa;
}

table.list_note .cardname{
	font-size:							9px;
	text-align:							left;
}

table.list_note .td_left{
	text-align:							left;
}

table.list_note .td_icon{
	width:								24px;
	text-align:							center;
}

table.list_note .td_nowrap{
	white-space:						nowrap;
}

/* */
table.list_note_dark{
	font-size:							12px;
	color:								#eeeeee;
	font-family:						"HiraKakuProN-W3";
	border-spacing:						0;
	border-collapse:					separate;
	border-radius:						6px;
	border:								2px solid #aaaaaa;
	width:								90%;

	margin-right:						auto;
	margin-left:						auto
}

table.list_note_dark thead th{
	padding:							4px 4px;
	background:							#281a14;
	text-align:							center;
}

table.list_note_dark tbody td{
	padding:							4px 4px;
	background:							#3f3f3f;
	color:								#eeeeee;
	text-align:							center;
}

table.list_note_dark thead tr:first-child :first-child{
	border-top-left-radius:				4px;
}

table.list_note_dark thead tr:first-child :last-child{
	border-top-right-radius:			4px;
}

table.list_note_dark tbody tr:last-child :first-child{
	border-bottom-left-radius:			4px;
}

table.list_note_dark tbody tr:last-child :last-child{
	border-bottom-right-radius:			4px;
}

table.list_note_dark tbody tr:last-child :first-child img{
	border-bottom-left-radius:			0px;
	border-bottom-right-radius:			0px;
}

table.list_note_dark tbody tr:last-child :last-child img{
	border-bottom-left-radius:			0px;
	border-bottom-right-radius:			0px;
}

table.list_note_dark thead tr th:not(:first-child),
table.list_note_dark tbody tr td:not(:first-child){
	border-left:						1px solid #aaaaaa;
}

table.list_note_dark thead tr th,
table.list_note_dark tbody tr:not(:last-child) td{
	border-bottom:						1px solid #aaaaaa;
}

table.list_note_dark tbody tr td span{
	color:								#3f3f3f;
}

table.list_note_dark .cardname{
	font-size:							9px;
	text-align:							left;
}

table.list_note_dark .td_left{
	text-align:							left;
}

table.list_note_dark .td_icon{
	width:								24px;
	text-align:							center;
}

table.list_note_dark .td_nowrap{
	white-space:						nowrap;
}

/* */
table.list_card{
	font-size:							12px;
	color:								#eeeeee;
	font-family:						"HiraKakuProN-W3";
	border-spacing:						1;
	border-collapse:					collapse;
	border:								2px solid #aaaaaa;
	width:								90%;

	margin-right:						auto;
	margin-left:						auto
}

table.list_card thead th{
	padding:							4px 4px;
	background:							#281a14;
	text-align:							center;
	border:								1px solid #aaaaaa;
}

table.list_card tbody td{
	padding:							4px 4px;
	background:							#EEEEEE;
	color:								#eeeeee;
	text-align:							center;
	border:								1px solid #aaaaaa;
}

table.list_card .cardname{
	font-size:							9px;
	text-align:							left;
}

table.list_card .td_left{
	text-align:							left;
}

table.list_card .td_icon{
	width:								24px;
	text-align:							center;
}

table.list_card .td_nowrap{
	white-space:						nowrap;
}

table.list_card tbody tr td:last-child{
	border-right:						2px solid #aaaaaa;
}

/* */
table.list_simple{
	font-size:							12px;
	color:								#eeeeee;
	font-family:						"HiraKakuProN-W3";
	border-spacing:						1;
	border-collapse:					collapse;
	border:								2px solid #aaaaaa;
	width:								90%;

	margin-right:						auto;
	margin-left:						auto
}

table.list_simple thead th{
	padding:							4px 4px;
	background:							#281a14;
	text-align:							center;
	border:								1px solid #aaaaaa;
}

table.list_simple tbody td{
	padding:							4px 4px;
	background:							#3f3f3f;
	color:								#eeeeee;
	text-align:							center;
	border:								1px solid #aaaaaa;
}

table.list_simple .cardname{
	font-size:							9px;
	text-align:							left;
}

table.list_simple .td_left{
	text-align:							left;
}

table.list_simple .td_icon{
	width:								24px;
	text-align:							center;
}

table.list_simple .td_nowrap{
	white-space:						nowrap;
}

/**************************************************************/
/* バナー風画像＋テキスト */

.imgOnText300px{
	width:								300px;
	height:								80px;
	margin:								auto;
	padding:							auto;
	position:							relative;
}
.imgOnText300px img {
	width:								300px;
	height:								80px;
	background-color:					#ffffff;
}

.imgOnText300px div {
	width:								300px;
	height:								80px;
	text-align:							left;
	left:								0px;
	bottom:								0px;
	margin:								0px;
	position:							absolute;
	display:							table;
/*	border:								1px solid #00ff00;*/
}

.imgOnText300px .text {
	display:							table-cell;
	text-align:							left;
	vertical-align:						middle;
	font-size:							14px;
	color:								#424242;
	font-weight:						bold;
	padding:							8px;
/*	border:								1px solid #ff0000;*/
}

/**************************************************************/
/* アコーディオン表示用 */

.ac{
	margin:								0px;
	padding:							0px;
}

.ac label {
	margin:								0px 0px 0px 0px;
	display:							inline-block;
	padding:							4px 4px 4px 4px;
	font-weight:						bold;
	font-size:							12px;
	font-family:						"HiraKakuProN-W3";
	color:								#000000;
	background-color:					#FF8808;
	cursor:								pointer;
	box-sizing:							border-box;
	border:								4px solid #000000;
	width:								100%;

	text-align:							center;
}

.ac input[type="checkbox"]{
	display:							none;
}

.ac input[type="checkbox"]:checked + label {
	color:								#000000;
	background-color:					#FF8808;
	border:								4px solid #FF8808;
	margin:								0px;
}

.ac .ac_box {
	padding:							0px;
	margin:								0px;
	box-sizing:							border-box;
}

.ac > .ac_box > div {
	display:							none;
	text-align:							left;
	margin:								4px 4px 8px 4px;
/*	border:								1px solid #FF8808;*/
}

#ac_button:checked ~ .ac_box > #ac_body {
	display:							block;
}

/**************************************************************/
/* スペーサー */

.space8px{
	margin:								0px;
	padding:							2px;
/*
	background-color:					#FF8888;
	border:								1px solid #f00;
*/
}

.space12px{
	margin:								0px;
	padding:							3px;
/*
	background-color:					#FF8888;
	border:								1px solid #f00;
*/
}

.space16px{
	margin:								0px;
	padding:							4px;
/*
	background-color:					#FF8888;
	border:								1px solid #f00;
*/
}

.space24px{
	margin:								0px;
	padding:							6px;
/*
	background-color:					#FF8888;
	border:								1px solid #f00;
*/
}

.space32px{
	margin:								0px;
	padding:							8px;
/*
	background-color:					#FF8888;
	border:								1px solid #f00;
*/
}

/**************************************************************/

.fontSize_40{
	font-size:							40px;
}

.fontSize_32{
	font-size:							32px;
}

.fontSize_28{
	font-size:							28px;
}

.fontSize_24{
	font-size:							24px;
}

.fontSize_22{
	font-size:							22px;
}


.fontSize_20{
	font-size:							20px;
}

.fontSize_18{
	font-size:							18px;
}

.fontSize_16{
	font-size:							16px;
}

.fontSize_14{
	font-size:							14px;
}

.fontSize_12{
	font-size:							12px;
}

.fontSize_10{
	font-size:							10px;
}

.fontSize_8{
	font-size:							8px;
}

.fontSize_6{
	font-size:							6px;
}



/**************************************************************/
/* 文字色 */

attention{	color:						#ff8808;		}	/* 注目(橙)	*/
caution{	color:						#ff0000;		}	/* 警告(赤)	*/
note{		color:						#a9a9a9;		}	/* 補足(灰)	*/

small{		font-size:					8px;			}	/* 小文字	*/

yellow{		color:						#ffff00;		}	/* 黄色		*/
white{		color:						#ffffff;		}	/* 白色		*/


through{	text-decoration:			line-through;	}

buff{		color:						#88FF88;		}
nerf{		color:						#FF8888;		}

/**************************************************************/
/* 表示端末制御用 */

/**** レヴァナントゲートでは、Android版がJavaScriptがOFFなので特殊な制御を行う。     ****/
/**** Android用のお知らせをデフォルト表示／iOS用のお知らせをデフォルト非表示にする。 ****/
/**** iOSだった場合、JavaScriptでそれぞれ逆の表示設定にする。                        ****/

.androidOnly{
	display:							block;
}

.iosOnly{
	display:							none;
}

/**************************************************************/
