

.topnav {
  overflow: hidden;
  display:none;
  background-color: white;
}

.topnav a {
  display: block;
  float: right;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
