span.none {
	/*
	color:#558833;
	*/
}

span.hero {
	/*
	color:#883355;
	*/
}

.voicerow {
	display:none;
}

#Voice button {
border-radius: 0px;
padding:8px;
padding-top:3px;
padding-bottom:3px;
color: #666;
font-size: 12px;
background: rgba(255,255,255,0);
border: solid #888 1px;
text-decoration: none;
transition: all 0.15s;
outline:none;
margin-bottom:10px;
}



#Voice button:hover {
	cursor:pointer;
	text-decoration: none;
	color: #333333;
	background: #dddddd;
	border-color:#333333;
}


#profleft {
	width:40%;
	float:left;
}

#profright {
	width:60%;
	float:left;
}

.hrpage_lcol {
	width:50%;
	float:left;
}

.hrpage_rcol {
	width:50%;
	float:left;
}

#cos_coll {width:35%; float:left; background-color:lightgray;}
#cos_colr {width:65%; height:100%;float:left; background-color:lightgreen;}
#cos_icon_select {}
#cos_icon_select > div {}

.voicetable {
	width:95%;
}

.voicetable .itempr {
	font-size:16px;
}

.jpserif {
	background-color:#f5f5f5;
}


.voicerow {
	background-color:#ececec;
}

.bttop {
	display:none;
	border:2px #808080 solid;
	border-radius:5px;
	background-color:rgba(20,20,20,0.4);
	position:fixed;
	width:37px;
	height:37px;
	bottom:55px;
	right:10px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}

.bttop:hover {
	border:2px #909090 solid;
	border-radius:5px;
	background-color:rgba(50,50,50,0.4);
}


.audioname {
	background-color:#ececec;
	cursor:pointer;
	transition:0.15s;
}

.audioname:hover, .inplay {
	background-color:#e0ece9;
	color:#109070;
}

.fa-play {
	margin-left:7px;
}
.fa-circle-o-notch {
	display:none !important;
}

.inplay .fa-circle-o-notch {
	display:inline-block !important;
}

.inplay .fa-play {
	display:none;
}
	

.spacerow td {
	background-color:;
}

.cnserif {
	background-color:#f0f0f0;
}
/*
.cnserif td {
	padding-left:10px;
}

.jpserif td {
	padding-left:10px;
}
*/


.spacerowb td {
}

.profmain {
	float:left;
	width:100%;
}

hr {
	height:1px;
	border: 0;
	border-width:0;
	color:#ccc;
	background-color: #ccc;
	width:95%;
}

.proffeet {
	color:#555555;
	text-align:center;
	vertical-align:top;
	width:100%;
	float:left;
	padding-top:30px;
	padding-bottom:30px;
}

.proffeet hr {
	height:1px;
	border: 0;
	border-width:0;
	color:#aaaaaa;
	background-color: #aaaaaa;
	clear:both;
}

/*渐变分割线
hr {
	float:left;
	height:1px;
	border-width:0;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	width:95%;
}
*/





.statProgress {
width: 100%;
border:0px rgb(118,118,119) solid;
background-color: rgb(77,77,78);
}
#atkBar, #defBar, #lifBar {
width: 0%;
height: 14px;
background-color: rgb(242,117,97);
transition:1.8s;
}

#prof {
	width:100%;
	position:relative;
}

#prof td {
	border:0px solid #bbbbbb;
	padding:3px;
}

#hrpgpic {
	width:95%;
}

#hrpgpic td {
	border:0px solid #bbbbbb;
	padding:3px;
}

.cardtable {
	font-size:12px;
}

.cardtable td {
	padding:3px;
	border:1px #ccc solid;
	vertical-align:top;
}

.jpcardname, .cncardname {
	font-size:14px;
}

.itempr {
	background-color:#ddd;
}

.jpver {
	display:none;
}

.cnver {
	display:table-cell;
}

.mainshu {
	display:none;
}


.carddiv {
	width:32.3%;
	float:left;
	margin-right:1%;
	margin-bottom:2%;
}

.cardlayerctr {
	font-size:12px;
	margin:0px;
	padding:0px;
	padding-bottom:10px;
}

.cardlayerctr input {vertical-align:middle; padding:0;margin:0;}


.cardlayerctr button {
border-radius: 0px;
padding:8px;
padding-top:3px;
padding-bottom:3px;
color: #666;
font-size: 12px;
background: rgba(255,255,255,0);
border: solid #888 1px;
text-decoration: none;
transition: all 0.15s;
outline:none;
margin-bottom:8px;
}

.cardlayerctr button:hover {
	cursor:pointer;
	text-decoration: none;
	color: #333333;
	background: #dddddd;
	border-color:#333333;
}

.dlbutton {
margin-bottom:8px;
margin-top:5px;
}

.dlbutton button {
	height: 30px;
	border-radius: 0px;
	padding:8px;
	padding-top:3px;
	padding-bottom:3px;
	color: #666;
	font-size: 12px;
	background: rgba(255,255,255,0);
	border: solid #888 1px;
	text-decoration: none;
	transition: all 0.15s;
	outline:none;
}

.dlbutton button:hover {
	cursor:pointer;
	text-decoration: none;
	color: #333333;
	background: #dddddd;
	border-color:#333333;
}

#mvplayerbar {
	margin-bottom:0px;
}


#mvplayerbar button {
	border-radius: 0px;
	padding:0px;
	padding-left:5px;
	padding-right:5px;
	margin-bottom:5px;
	color: #666;
	font-size: 12px;
	background: rgba(255,255,255,0);
	border: solid #888 1px;
	text-decoration: none;
	transition: all 0.15s;
	outline:none;
	height:30px;
}
	
#mvplayerbar button:hover {
	cursor:pointer;
	text-decoration: none;
	color: #333333;
	background: #dddddd;
	border-color:#333333;
}

.lrctable { width:100%; text-align:center; margin-left:0px; border:1px #ccc solid; background-color:#eee;}
.lrcjp {}
.lrccn {font-size:13px;color:#376;}
.lrcjptitle { font-size:16px; font-weight:bold;}
.lrccntitle { font-size:15px; font-weight:bold; color:#154;}

#Music audio { width:98%; height:35px;}
#fullbgm { width:99%;}
@media screen and (max-width: 540px) {
/*竖屏 css*/
.tab {
	  height:43px;
	  position:fixed;
	  bottom:0px;
}

.tablinkbar {
	  top:auto;
	  bottom:0px;
}

.tabcontent {
	  padding-top:50px;
}

#tabiconbar {
	  width:100%;
}

.tablinks {
	  width:15%;
}

#musictabbtn {
	  width:17.5%;
}

#defaultOpen {
	  width:22.5%;
}
.tabicons {
	  width:8%;
}

#profleft, .hrpage_lcol {
	  width:100%;
}
#profright, .hrpage_rcol {
	  width:100%;
}
.mainheng {
	  display:none;
}
.mainshu {
	  display:table-row;
}
#hrpgpic, .voicetable {
	width:100%;
}
.bttop {
	bottom:95px;
}
.carddiv {
	width:49%;
	margin-right:1%;
}

#Music audio { width:100%; height:35px;}
#fullbgm { width:100%;}

} 
