span.none {
	color:#558833;
}

span.hero {
	color:#883355;
}



#profleft {
	width:40%;
	float:left;
}

#profright {
	width:60%;
	float:left;
}

.statProgress {
  width: 100%;
  border:0px rgb(118,118,119) solid;
  background-color: rgb(77,77,78);
}
#atkBar, #defBar, #lifBar {
  width: 0%;
  height: 14px;
  background-color: rgb(242,117,97);
  transition:1.5s;
}

#prof {
	width:100%;
	position:relative;
}

#prof td {
	border:0px solid #bbbbbb;
	padding:3px;
}

#hrpgpic {
	width:95%;
}

#hrpgpic td {
	border:0px solid #bbbbbb;
	padding:3px;
}

.itempr {
	background-color:#ddd;
}


.jpver {
	display:none;
}

.cnver {
	display:table-cell;
}

@media screen and (max-width: 560px) {
  /*竖屏 css*/
  .tab {
	  height:45px;
	  position:fixed;
	  bottom:0px;
  }
  
  .tablinkbar {
	  top:auto;
	  bottom:0px;
  }
  
  .tabcontent {
	  padding-top:50px;
  }
  
  #tabiconbar {
	  width:100%;
  }
  
  .tablinks {
	  width:15%;
  }
  
  #musictabbtn {
	  width:17%;
  }
  
  #defaultOpen {
	  width:20%;
  }
  .tabicons {
	  width:8%;
  }
  
  #profleft {
	  width:100%;
  }
  #profright {
	  width:100%;
  }
  .mainheng {
	  display:none;
  }
} 
