* {
font-family: "Microsoft Yahei", Helvetica;
font-size:14px;
}

html {
color:#333333;
height:100%;
}

body {
position:absolute;
height:100%;
width:100%;
margin:0px;
background-color:#e9e9e9;
}

h3 {
	font-size:16px;
}

*::-webkit-scrollbar{
width:10px;
}

*::-webkit-scrollbar-thumb{
-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
background: #cccccc;
}

*::-webkit-scrollbar-track{
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
background: #EDEDED;
}


/* Style the tab */
div.tab {
    overflow: hidden;
    border: 0px solid #ccc;
	box-sizing: border-box;
	width:100%;
	height:6.5%;
}
#pagewithtab {
	vertical-align:middle;
	width:100%;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	height:100%;
	padding-bottom:0px;
	}
/* Style the buttons inside the tab */
.tablinks {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 0px;
	height:100%;
	width:10%;
    transition: 0.2s;
    font-size: 15px;
}


.tabicons {
	color:#888888;
    background-color: #f8f8f8;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 0px 0px 0px;
	height:100%;
	width:5%;
    transition: 0.2s;
    font-size: 18px;
}


/* Change background color of buttons on hover */
.tablinks:hover {
	background-color: #cccccc;
}

.tabicons:hover {
	background-color: rgb(235,235,235);
}

/* Create an active/current tablink class */
.tablinks.active {
  background-color: #f8f8f8;
}
.tablinks.active:hover {
	cursor:default;
}
/* Style the tab content */
.tabcontent {
    display: none;
    border: 0px solid #ccc;
	box-sizing:border-box;
    border-top: none;
	background-color:#f8f8f8;
	margin:0px;
	padding:10px;
	padding-bottom:50px;
	width:100%;
	height:93.5%;
	overflow:auto;
}